
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Contact</title>
</head>
<body style="background-color: #1A1A1A">
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #383838">
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'profile' %}">PROFILE</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'home' %}">HOME</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'contact' %}">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <form method="post" style="color:#FFFFFF">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
    {% csrf_token %}
</div>
<br>
<table style="width: 100%; border: 1px solid black;">
    <thead style="width: 100%;border: 1px solid black; background-color: grey;">
    <th style="text-align: center;">Name</th>
    <th style="text-align: center;">Hobby</th>
    <th style="text-align: center;">Favorite Drink</th>
    <th style="text-align: center;">Favorite Food</th>
    <th style="text-align: center;">Year</th>
    </thead>
    {% for friend in friends %}
    <tr style="background-color: honeydew;">
        <th style="text-align: center;">{{ friends.name }}</th>
        <th style="text-align: center;">{{ friends.hobby }}</th>
        <th style="text-align: center;">{{ friends.fav_drink }}</th>
        <th style="text-align: center;">{{ friends.fav_food }}</th>
        <th style="text-align: center;">{{ friends.year }}</th>
        {% endfor %}
    </tr>

</table>






<style>
  body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1A1A1A;
}

    h1{
    color: #FFFFFF;
    font-family: Raleway;
    margin: auto;
    text-align: center;
    justify-content-center;
}
    nav{
    color: #FFFFFF;
    font-family: Raleway;
}

</style>

<footer>
    <div class="container-fluid fixed-bottom text-center" style="background-color: #383838">
        <div class="card-footer align-middle">
            <a href="https://www.linkedin.com/in/aljihad-ijlal-nadhif-suyudi-b05220114">
                <img src="{% static 'VectorLinkedin.png' %}">
            </a>
            <a href="https://www.instagram.com/akishi00/?hl=en">
                <img src="{% static 'Insta.png' %}">
            </a>
            <a href="http://steamcommunity.com/id/Alsenir">
                <img src="{% static 'VectorSteam.png' %}">
            </a>
        </div>
    </div>
</footer>
</body>
</html>
