<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Home</title>
</head>
<body style="background-color: #1A1A1A">
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #383838">
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'profile' %}">PROFILE</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'home' %}">HOME</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'contact' %}">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<h1>Hi, I'm Nadhif <br>Welcome to my page!</h1>
<br>
<br>
<br>
<h1><a href="{% url 'forms' %}"style="color: white; text-decoration: none;">
    Click here to go to forms</a></h1>
<br>
<br>
<br>
<h1><a href="{% url 'profile' %}" style="color: white; text-decoration: none;">
    Click here to know <br>more about me!</a>
</h1>
<br><br><br><br>

<style>
  body {
  background-image: url('{% static 'unsplah-back.png' %}');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1A1A1A;
}

    h1{
    color: #FFFFFF;
    font-family: Raleway;
    margin: auto;
    text-align: center;
}
    nav{
    color: #FFFFFF;
    font-family: Raleway;
}

</style>

<footer>
    <div class="container-fluid fixed-bottom text-center" style="background-color: #383838">
        <div class="card-footer align-middle">
            <a href="https://www.linkedin.com/in/aljihad-ijlal-nadhif-suyudi-b05220114">
                <img src="{% static 'VectorLinkedin.png' %}">
            </a>
            <a href="https://www.instagram.com/akishi00/?hl=en">
                <img src="{% static 'Insta.png' %}">
            </a>
            <a href="http://steamcommunity.com/id/Alsenir">
                <img src="{% static 'VectorSteam.png' %}">
            </a>
        </div>
    </div>
</footer>
</body>
</html>
