<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Profile</title>
</head>
<body style="background-color: #1A1A1A">
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #383838">
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'profile' %}">PROFILE</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'home' %}">HOME</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'contact' %}">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-sm">
            <h1>About me</h1>
            <div class="col-about">
                I am adept at Java and Python.
                I can also make a static web page.
                I also can work with team very well.
                I spend my free time by reading some books or do photography.
                Since I do photography, I also have skills in Photoshop.
                <br><br><br><br>
            </div>
        </div>
        <div class="col-pic">
            <img src="../static/PC280452(2).png" alt="This is not working....why?" width="322" height="337" class="rounded-circle">
        </div>
        <div class="col-sm">
            <h1>Details</h1>
            <div class="col-details">
                <h4>Name : Aljihad Ijlal Nadhif Suyudi</h4>
                <h4>Age : 19</h4>
                <h4>Location : Jakarta, Indonesia</h4>
                <br><br><br><br>
            </div>
        </div>
    </div>
</div>



<style>
  body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1A1A1A;
}

    div{
    color: #FFFFFF;
    font-family: Raleway;
    margin: auto;
    text-align: center;

}
    nav{
    color: #FFFFFF;
    font-family: Raleway;
}

</style>

<footer>
    <div class="container-fluid fixed-bottom text-center" style="background-color: #383838">
        <div class="card-footer align-middle">
            <a href="https://www.linkedin.com/in/aljihad-ijlal-nadhif-suyudi-b05220114">
                <img src="{% static 'VectorLinkedin.png' %}">
            </a>
            <a href="https://www.instagram.com/akishi00/?hl=en">
                <img src="{% static 'Insta.png' %}">
            </a>
            <a href="http://steamcommunity.com/id/Alsenir">
                <img src="{% static 'VectorSteam.png' %}">
            </a>
        </div>
    </div>
</footer>
</body>
</html>
